body {
  background-color: #f8f8f8;
}

.first-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  background: #0b2239;
  max-width: 1440px;
  max-height: 72px;
  color: white;
  margin-bottom: 24px;
}
.first-banner-text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 20px;
  width: 922px;
  height: 40px;
}
.buttons {
  font-family: "Inter", sans-serif;
}
.first-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4ad295;
  margin-right: 20px;
}
.second-button {
  background: #4ad295;
  border-radius: 2px;
  border: none;
  width: 130px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.second-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  max-height: 52px;
  background: #2b2627;
  color: white;
  margin-bottom: 60px;
}

.second-banner-text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 16px 20px 16px 8px;
}

.second-banner-link {
  color: white;
}

.third-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-width: 560px;
  max-height: 72px;
  background: #ffffff;
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 16px;
  margin-bottom: 30px;
}

.third-banner-text {
  width: 347px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #0d0c22;
  margin: 16px 10px;
}
.third-banner-link {
  color: #ea4c89;
  text-decoration: none;
}

.decline-button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  border: none;
  width: 63px;
  height: 28px;
  background: rgba(13, 12, 34, 0.05);
  border-radius: 8px;
  margin-right: 10px;
  color: #0d0c22;
}

.allow-button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  width: 52px;
  height: 28px;
  border: none;
  background-color: #ea4c89;
  color: white;
  border-radius: 8px;
}

.img-container {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(234, 76, 137, 0.1);
  border-radius: 10px;
}

.four-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  max-width: 560px;
  max-height: 64px;
  background: #26262b;
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.four-banner-text {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 12px;
  line-height: 20px;
  width: 469px;
  height: 40px;
  margin-right: 10px;
}

.four-banner-link {
  color: tomato;
  text-decoration: none;
}

.four-banner-button {
  width: 49px;
  height: 28px;
  border-radius: 8px;
  background: white;
  border: none;
}

.five-banner {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 360px;
  max-height: 206px;
  background: rgba(28, 37, 64, 0.95);
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  margin-right: 40px;
}

.five-banner-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.five-banner-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.five-banner-link {
  color: white;
}

.five-banner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.five-banner-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  color: white;
  width: 85px;
  height: 32px;
  background: #09b3af;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border-radius: 6px;
}

.six-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  height: 260px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(186, 226, 255, 0.15) 23.96%,
      rgba(229, 217, 255, 0.15) 71.87%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #ffffff;
  box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.six-banner-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 48px;
  color: #15295a;
}

.six-banner-text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 256px;
  height: 72px;
  color: #15295a;
}
.six-banner-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 121px;
  height: 44px;
  background: #4a7eff;
  border-radius: 43px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.seven-banner {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-width: 360px;
  max-height: 170px;
  background: #ffffff;
  box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15),
    0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 16px;
}
.seven-banner-title {
  width: 100%;
  text-align: start;
  font-family: "Roboto", sans-serif;
  color: #0f181d;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.seven-banner-text {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #687f8c;
  margin-bottom: 16px;
}
.seven-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.seven-button-manage {
  width: 160px;
  height: 32px;
  background: #eaf0f4;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border-radius: 6px;
  border: none;
  color: #687f8c;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.seven-button-accept {
  width: 160px;
  height: 32px;
  background: #40c1a7;
  box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.five-seven {
  display: flex;
  align-items: flex-start;
}

.six-eight {
  display: flex;
  align-items: flex-start;
}

.eight-banner {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  width: 320px;
  height: 137px;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eight-banner-text {
  width: 288px;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.eight-banner-footer {
  display: flex;
  justify-content: space-between;
}
.eight-banner-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6666ff;
  text-decoration: none;
}
.eight-banner-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: #6666ff;
  color: white;
  width: 64px;
  height: 33px;
  border-radius: 4px;
}
