body {
  font-family: "Lato", sans-serif;
}
.first-block {
  background: #ed4c5c;
  width: 1440px;
  height: 500px;
  display: flex;
  align-items: flex-start;
}
.first-text {
  display: flex;
  flex-direction: column;
  margin: 122px 81px 113px 165px;
}
.first-title {
  width: 445px;
  height: 107px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 24px;
}
.first-paragraph {
  width: 445px;
  height: 64px;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 42px;
}
.first-photo {
}
.basic-photo {
}
