* {
  font-family: "Lato", sans-serif;
}
.header {
  background: #ed4c5c;
  width: 1440px;
  height: 500px;
  display: flex;
  align-items: flex-start;
}
.header-text {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 122px 81px 113px 165px;
}
.header-title {
  width: 445px;
  height: 107px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 24px;
}
.header-paragraph {
  width: 445px;
  height: 64px;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 42px;
}
.header-icons {
  margin-bottom: 113px;
}
.header-icons > img {
  margin-right: 25px;
}
.basic-photo {
  width: 533px;
  height: 311px;
  margin: 94px 260px 95px 0px;
}
.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 117px 165px 123px 176px;
}
.info {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.info > h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 60px;
}
.info > p {
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000000;
  width: 434px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.input {
  margin-bottom: 24px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  padding-left: 34px;
}
.service {
  background-image: url("./ChevronDown\(E70D\).svg");
  background-repeat: no-repeat;
  background-position: 95% 50% ;
}

.names {
  display: flex;
  justify-content: space-between;
}
.names > input {
  width: 255px;
}

.submit {
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
  width: 160px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 166px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
 
}
.footer-col {

}

.footer-col > h2 {
  margin-bottom: 33px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #101010;
}